<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Camera {{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"  content="connect-src * 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href="/static/js/fontawesome-free-5.13.1-web/css/all.css">
    <link rel='stylesheet' href="/static/css/camera.css">
	<link href="/static/pictures/icons8-ptz-camera-color-16.png" rel="icon" type="image/png" sizes="16x16">
	<link href="/static/pictures/icons8-ptz-camera-color-32.png" rel="icon" type="image/png" sizes="32x32">
	<link href="/static/pictures/icons8-ptz-camera-color-96.png" rel="icon" type="image/png" sizes="96x96">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <div class="container">
    </div>
    <script src="/static/js/wfs.js"></script>
    <script src="/static/js/camera.js"></script>
</body>
</html>